<div class="panel panel-default">
	<div class="panel-heading">Product list</div>
	<table class="table table-condensed">
		<thead class="bg-success" style="font-variant: small-caps;">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Available</th>
				<th></th>
				<th></th>
			</tr>  /
		</thead>
		<tbody>
			<tr ng-repeat ="item in pager.items">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.price | number : 2}}</td>
				<td>{{item.createDate | date : 'dd-MM-yyyy'}}</td>
				<td>{{item.image}}</td>
				<td>{{item.category.name}}</td>
				<td>{{item.available?'Yes':'No'}}</td>
				<td>
					<div class="btn-group btn-group-xs">
						<button ng-click="edit(item)" class="btn btn-waring fa fa-edit"></button>
						<button ng-click="delete(item)" class="btn btn-waring fa fa-trash"></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div aria-label="Page navigation example">
		<ul class="pagination">
		  <li class="page-item"><a class="page-link" ng-click="pager.prev()" href="">Previous</a></li>
		  <li class="page-item"><a class="page-link" href="#">{{pager.page + 1}} of {{pager.count}}</a></li>
		  <li class="page-item"><a class="page-link" ng-click="pager.next()" href="">Next</a></li>
		</ul>
	  </div>
</div>