<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/cart/index:: dynamic(~{::main})}">
<body>
	<main >
		<div class="container-fluid mt-3">
			<h3>Chi tiết đơn hàng</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Product name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, state:${orderdetail}">
						<td>[[${item.id}]]</td>
						<td>[[${item.product.name}]]</td>
						<td>[[${item.product.price}]] triệu VNĐ</td>
						<td>[[${item.quantity}]]</td>
						<td>[[${item.price*item.quantity}]] triệu VNĐ</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>
</html>
