@charset "utf-8";

.poly-item{
	margin-top: 30px;
}
.poly-item img{
  height:150px;
  max-width:95%;
  margin-top: 30px;
}
.poly-item card-title{
  font-size:smaller;
}
.poly-item-detail img{
	max-width:80%;
}