<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="row">
		<div th:each="p:${items}" class="col-sm-4">
			<div class="card shadow-sm cc_cursor poly-item text-center">
				<div class="panel-heading">
					<div class="card-title" th:utext="${p.name}"></div>
				</div>
				<div class="card-body">
					<a th:href="@{|/home/detail/${p.id}|}"> <img
						th:src="@{|/assets/images/${p.image}|}">
					</a>
				</div>
				<div class="card-footer text-right">
					<b class="pull-left">$[[${p.price}]]</b>
					<button class="btn btn-success"
						th:attr="ng-click=@{|cart.add(${p.id})|}">
						<i class="fa fa-shopping-cart"></i>
					</button>
				</div>
			</div>
		</div>
		
	</main>
</body>
</html>